In [1]:
!pip install polars
import pandas as pd
import polars as pl

Requirement already satisfied: polars in /Users/brendan/myenv/lib/python3.10/site-packages (0.19.3)

In [2]:
#data = pd.read_csv('Amazon_ecommerce.csv')

In [3]:
#data.head()

In [8]:
month_year_df = data.groupby(['YEAR', 'MONTH']).size().reset_index(name='counts')
month_year_df

   YEAR  MONTH  counts
0    21      6    2064
1    21      7    7936

In [2]:
q = pl.scan_parquet("compressed.parquet")
df = q.collect()

In [3]:
len(df)

5000000

In [4]:
value_counts_df = df.group_by("MONTH").agg(
    [
        pl.col("MONTH").count().alias("count")
    ]
).sort("count")

In [5]:
value_counts_df

shape: (8, 2)
┌───────┬─────────┐
│ MONTH ┆ count   │
│ ---   ┆ ---     │
│ i64   ┆ u32     │
╞═══════╪═════════╡
│ 2     ┆ 117768  │
│ 5     ┆ 188416  │
│ 11    ┆ 266240  │
│ 8     ┆ 286720  │
│ 9     ┆ 435600  │
│ 12    ┆ 883252  │
│ 1     ┆ 1326430 │
│ 3     ┆ 1495574 │
└───────┴─────────┘

In [6]:
df.head()

shape: (5, 12)
┌────────────┬─────────┬──────┬───────┬───┬──────────────┬─────────────┬─────────────┬─────────────┐
│ SITE       ┆ COUNTRY ┆ YEAR ┆ MONTH ┆ … ┆ SUB_CATEGORY ┆ ESTIMATED_V ┆ ESTIMATED_P ┆ __index_lev │
│ ---        ┆ ---     ┆ ---  ┆ ---   ┆   ┆ ---          ┆ IEWS        ┆ URCHASES    ┆ el_0__      │
│ str        ┆ i64     ┆ i64  ┆ i64   ┆   ┆ str          ┆ ---         ┆ ---         ┆ ---         │
│            ┆         ┆      ┆       ┆   ┆              ┆ f64         ┆ f64         ┆ i64         │
╞════════════╪═════════╪══════╪═══════╪═══╪══════════════╪═════════════╪═════════════╪═════════════╡
│ amazon.com ┆ 840     ┆ 21   ┆ 9     ┆ … ┆ Clothing,    ┆ 231.655369  ┆ 9.262786    ┆ 0           │
│            ┆         ┆      ┆       ┆   ┆ Shoes &      ┆             ┆             ┆             │
│            ┆         ┆      ┆       ┆   ┆ Jewelry -    ┆             ┆             ┆             │
│            ┆         ┆      ┆       ┆   ┆ Wome…        ┆             ┆             ┆             │
│ amazon.com ┆ 840     ┆ 21   ┆ 9     ┆ … ┆ Clothing,    ┆ 231.655369  ┆ 6.243649    ┆ 1           │
│            ┆         ┆      ┆       ┆   ┆ Shoes &      ┆             ┆             ┆             │
│            ┆         ┆      ┆       ┆   ┆ Jewelry -    ┆             ┆             ┆             │
│            ┆         ┆      ┆       ┆   ┆ Wome…        ┆             ┆             ┆             │
│ amazon.com ┆ 840     ┆ 21   ┆ 9     ┆ … ┆ Clothing,    ┆ 231.655369  ┆ 6.243649    ┆ 2           │
│            ┆         ┆      ┆       ┆   ┆ Shoes &      ┆             ┆             ┆             │
│            ┆         ┆      ┆       ┆   ┆ Jewelry -    ┆             ┆             ┆             │
│            ┆         ┆      ┆       ┆   ┆ Wome…        ┆             ┆             ┆             │
│ amazon.com ┆ 840     ┆ 21   ┆ 9     ┆ … ┆ Clothing,    ┆ 231.655369  ┆ 6.96933     ┆ 3           │
│            ┆         ┆      ┆       ┆   ┆ Shoes &      ┆             ┆             ┆             │
│            ┆         ┆      ┆       ┆   ┆ Jewelry -    ┆             ┆             ┆             │
│            ┆         ┆      ┆       ┆   ┆ Wome…        ┆             ┆             ┆             │
│ amazon.com ┆ 840     ┆ 21   ┆ 9     ┆ … ┆ Clothing,    ┆ 231.655369  ┆ 6.243649    ┆ 4           │
│            ┆         ┆      ┆       ┆   ┆ Shoes &      ┆             ┆             ┆             │
│            ┆         ┆      ┆       ┆   ┆ Jewelry -    ┆             ┆             ┆             │
│            ┆         ┆      ┆       ┆   ┆ Wome…        ┆             ┆             ┆             │
└────────────┴─────────┴──────┴───────┴───┴──────────────┴─────────────┴─────────────┴─────────────┘

In [15]:
type(df['BRAND'].value_counts())
#.sort_values(by='counts', ascending=False)

polars.dataframe.frame.DataFrame

In [22]:
# Step 1: Count the occurrences of each unique value in the 'Name' column
count_df = df.group_by('BRAND').agg(pl.col('BRAND').count().alias('Frequency'))

# Step 2: Join this with the original DataFrame
df_with_count = df.join(count_df, on='BRAND')

# Step 3: Sort the DataFrame by 'Frequency' column (for example, in descending order)
sorted_df = df_with_count.sort('Frequency')
type(df_with_count)

polars.dataframe.frame.DataFrame

In [24]:
sorted_df.tail(10)

shape: (10, 13)
┌────────────┬─────────┬──────┬───────┬───┬──────────────┬──────────────┬──────────────┬───────────┐
│ SITE       ┆ COUNTRY ┆ YEAR ┆ MONTH ┆ … ┆ ESTIMATED_VI ┆ ESTIMATED_PU ┆ __index_leve ┆ Frequency │
│ ---        ┆ ---     ┆ ---  ┆ ---   ┆   ┆ EWS          ┆ RCHASES      ┆ l_0__        ┆ ---       │
│ str        ┆ i64     ┆ i64  ┆ i64   ┆   ┆ ---          ┆ ---          ┆ ---          ┆ u32       │
│            ┆         ┆      ┆       ┆   ┆ f64          ┆ f64          ┆ i64          ┆           │
╞════════════╪═════════╪══════╪═══════╪═══╪══════════════╪══════════════╪══════════════╪═══════════╡
│ amazon.com ┆ 840     ┆ 21   ┆ 12    ┆ … ┆ 2351.927553  ┆ 45.416795    ┆ 2446         ┆ 31157     │
│ amazon.com ┆ 840     ┆ 21   ┆ 12    ┆ … ┆ 251.992238   ┆ 13.635792    ┆ 2447         ┆ 31157     │
│ amazon.com ┆ 840     ┆ 21   ┆ 12    ┆ … ┆ 251.992238   ┆ 13.155417    ┆ 2448         ┆ 31157     │
│ amazon.com ┆ 840     ┆ 21   ┆ 12    ┆ … ┆ 251.992238   ┆ 0.913457     ┆ 2449         ┆ 31157     │
│ …          ┆ …       ┆ …    ┆ …     ┆ … ┆ …            ┆ …            ┆ …            ┆ …         │
│ amazon.com ┆ 840     ┆ 21   ┆ 12    ┆ … ┆ 251.992238   ┆ 10.086851    ┆ 2452         ┆ 31157     │
│ amazon.com ┆ 840     ┆ 21   ┆ 12    ┆ … ┆ 503.984476   ┆ 30.150209    ┆ 2453         ┆ 31157     │
│ amazon.com ┆ 840     ┆ 21   ┆ 12    ┆ … ┆ 251.992238   ┆ 11.180606    ┆ 2454         ┆ 31157     │
│ amazon.com ┆ 840     ┆ 21   ┆ 12    ┆ … ┆ 251.992238   ┆ 13.521358    ┆ 2455         ┆ 31157     │
└────────────┴─────────┴──────┴───────┴───┴──────────────┴──────────────┴──────────────┴───────────┘