In [1]:
import polars as pl
import polars.selectors as cs
import pandas as pd
import gc

In [2]:
train_df = pl.read_csv("/Users/brendan/Desktop - Brendan’s MacBook Air/kaggle/optiver-trading-at-the-close/train.csv")
train_df_pandas = pd.read_csv('/Users/brendan/Desktop - Brendan’s MacBook Air/kaggle/optiver-trading-at-the-close/train.csv')



revealed_targets = pl.read_csv('/Users/brendan/Desktop - Brendan’s MacBook Air/kaggle/optiver-trading-at-the-close/example_test_files/revealed_targets.csv')

In [3]:
test_df = pl.read_csv('/Users/brendan/Desktop - Brendan’s MacBook Air/kaggle/optiver-trading-at-the-close/example_test_files/test.csv')
test_df_pandas = pd.read_csv('/Users/brendan/Desktop - Brendan’s MacBook Air/kaggle/optiver-trading-at-the-close/example_test_files/test.csv')

In [4]:
train_df.head()

shape: (5, 17)
┌──────────┬─────────┬───────────────────┬────────────────┬───┬─────┬───────────┬─────────┬────────┐
│ stock_id ┆ date_id ┆ seconds_in_bucket ┆ imbalance_size ┆ … ┆ wap ┆ target    ┆ time_id ┆ row_id │
│ ---      ┆ ---     ┆ ---               ┆ ---            ┆   ┆ --- ┆ ---       ┆ ---     ┆ ---    │
│ i64      ┆ i64     ┆ i64               ┆ f64            ┆   ┆ f64 ┆ f64       ┆ i64     ┆ str    │
╞══════════╪═════════╪═══════════════════╪════════════════╪═══╪═════╪═══════════╪═════════╪════════╡
│ 0        ┆ 0       ┆ 0                 ┆ 3.1806e6       ┆ … ┆ 1.0 ┆ -3.029704 ┆ 0       ┆ 0_0_0  │
│ 1        ┆ 0       ┆ 0                 ┆ 166603.91      ┆ … ┆ 1.0 ┆ -5.519986 ┆ 0       ┆ 0_0_1  │
│ 2        ┆ 0       ┆ 0                 ┆ 302879.87      ┆ … ┆ 1.0 ┆ -8.38995  ┆ 0       ┆ 0_0_2  │
│ 3        ┆ 0       ┆ 0                 ┆ 1.1918e7       ┆ … ┆ 1.0 ┆ -4.0102   ┆ 0       ┆ 0_0_3  │
│ 4        ┆ 0       ┆ 0                 ┆ 447549.96      ┆ … ┆ 1.0 ┆ -7.349849 ┆ 0       ┆ 0_0_4  │
└──────────┴─────────┴───────────────────┴────────────────┴───┴─────┴───────────┴─────────┴────────┘

In [5]:
collected_objects = gc.collect()

In [6]:
train_df.head()

shape: (5, 17)
┌──────────┬─────────┬───────────────────┬────────────────┬───┬─────┬───────────┬─────────┬────────┐
│ stock_id ┆ date_id ┆ seconds_in_bucket ┆ imbalance_size ┆ … ┆ wap ┆ target    ┆ time_id ┆ row_id │
│ ---      ┆ ---     ┆ ---               ┆ ---            ┆   ┆ --- ┆ ---       ┆ ---     ┆ ---    │
│ i64      ┆ i64     ┆ i64               ┆ f64            ┆   ┆ f64 ┆ f64       ┆ i64     ┆ str    │
╞══════════╪═════════╪═══════════════════╪════════════════╪═══╪═════╪═══════════╪═════════╪════════╡
│ 0        ┆ 0       ┆ 0                 ┆ 3.1806e6       ┆ … ┆ 1.0 ┆ -3.029704 ┆ 0       ┆ 0_0_0  │
│ 1        ┆ 0       ┆ 0                 ┆ 166603.91      ┆ … ┆ 1.0 ┆ -5.519986 ┆ 0       ┆ 0_0_1  │
│ 2        ┆ 0       ┆ 0                 ┆ 302879.87      ┆ … ┆ 1.0 ┆ -8.38995  ┆ 0       ┆ 0_0_2  │
│ 3        ┆ 0       ┆ 0                 ┆ 1.1918e7       ┆ … ┆ 1.0 ┆ -4.0102   ┆ 0       ┆ 0_0_3  │
│ 4        ┆ 0       ┆ 0                 ┆ 447549.96      ┆ … ┆ 1.0 ┆ -7.349849 ┆ 0       ┆ 0_0_4  │
└──────────┴─────────┴───────────────────┴────────────────┴───┴─────┴───────────┴─────────┴────────┘

In [7]:
train_df.approx_n_unique()

shape: (1, 17)
┌──────────┬─────────┬───────────────────┬────────────────┬───┬───────┬────────┬─────────┬─────────┐
│ stock_id ┆ date_id ┆ seconds_in_bucket ┆ imbalance_size ┆ … ┆ wap   ┆ target ┆ time_id ┆ row_id  │
│ ---      ┆ ---     ┆ ---               ┆ ---            ┆   ┆ ---   ┆ ---    ┆ ---     ┆ ---     │
│ u32      ┆ u32     ┆ u32               ┆ u32            ┆   ┆ u32   ┆ u32    ┆ u32     ┆ u32     │
╞══════════╪═════════╪═══════════════════╪════════════════╪═══╪═══════╪════════╪═════════╪═════════╡
│ 198      ┆ 482     ┆ 55                ┆ 3004545        ┆ … ┆ 31403 ┆ 15749  ┆ 26653   ┆ 5300724 │
└──────────┴─────────┴───────────────────┴────────────────┴───┴───────┴────────┴─────────┴─────────┘

In [8]:
desc = pd.DataFrame(index=list(train_df_pandas))
desc['count'] = train_df_pandas.count()
desc['nunique']= train_df_pandas.nunique()
desc['%_unique'] = desc['nunique']/len(train_df_pandas)*100
desc['null'] = train_df_pandas.isnull().sum()
desc['type']= train_df_pandas.dtypes
desc = pd.concat([desc, train_df_pandas.describe().T],axis=1)

In [9]:
desc

,count,nunique,%_unique,null,type,count,mean,std,min,25%,50%,75%,max
stock_id,5237980,200,0.003818,0,int64,5237980.0,9.928856e+01,5.787176e+01,0.000000,4.900000e+01,9.900000e+01,1.490000e+02,1.990000e+02
date_id,5237980,481,0.009183,0,int64,5237980.0,2.415100e+02,1.385319e+02,0.000000,1.220000e+02,2.420000e+02,3.610000e+02,4.800000e+02
seconds_in_bucket,5237980,55,0.001050,0,int64,5237980.0,2.700000e+02,1.587451e+02,0.000000,1.300000e+02,2.700000e+02,4.100000e+02,5.400000e+02
imbalance_size,5237760,2971863,56.736815,220,float64,5237760.0,5.715293e+06,2.051591e+07,0.000000,8.453415e+04,1.113604e+06,4.190951e+06,2.982028e+09
imbalance_buy_sell_flag,5237980,3,0.000057,0,int64,5237980.0,-1.189619e-02,8.853374e-01,-1.000000,-1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00
reference_price,5237760,28741,0.548704,220,float64,5237760.0,9.999955e-01,2.532497e-03,0.935285,9.987630e-01,9.999670e-01,1.001174e+00,1.077488e+00
matched_size,5237760,2948862,56.297695,220,float64,5237760.0,4.510025e+07,1.398413e+08,4316.610000,5.279575e+06,1.288264e+07,3.270013e+07,7.713682e+09
far_price,2343638,95739,1.827785,2894342,float64,2343638.0,1.001713e+00,7.214705e-01,0.000077,9.963320e-01,9.998830e-01,1.003318e+00,4.379531e+02
near_price,2380800,84625,1.615604,2857180,float64,2380800.0,9.996601e-01,1.216920e-02,0.786988,9.971000e-01,9.998890e-01,1.002590e+00,1.309732e+00
bid_price,5237760,28313,0.540533,220,float64,5237760.0,9.997263e-01,2.499345e-03,0.934915,9.985290e-01,9.997280e-01,1.000905e+00,1.077488e+00
bid_size,5237980,2591773,49.480391,0,float64,5237980.0,5.181359e+04,1.114214e+05,0.000000,7.374720e+03,2.196900e+04,5.583168e+04,3.028784e+07
ask_price,5237760,28266,0.539636,220,float64,5237760.0,1.000264e+00,2.510042e-03,0.939827,9.990290e-01,1.000207e+00,1.001414e+00,1.077836e+00
ask_size,5237980,2623254,50.081405,0,float64,5237980.0,5.357568e+04,1.293554e+05,0.000000,7.823700e+03,2.301792e+04,5.787841e+04,5.440500e+07
wap,5237760,31506,0.601491,220,float64,5237760.0,9.999920e-01,2.497509e-03,0.938008,9.987810e-01,9.999970e-01,1.001149e+00,1.077675e+00
target,5237892,15934,0.304201,88,float64,5237892.0,-4.756125e-02,9.452860e+00,-385.289800,-4.559755e+00,-6.020069e-02,4.409552e+00,4.460704e+02
time_id,5237980,26455,0.505061,0,int64,5237980.0,1.331005e+04,7.619271e+03,0.000000,6.729000e+03,1.334500e+04,1.990700e+04,2.645400e+04
row_id,5237980,5237980,100.000000,0,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
test_df.head()

shape: (3, 16)
┌──────────┬─────────┬───────────────────┬────────────────┬───┬──────────┬─────┬─────────┬─────────┐
│ stock_id ┆ date_id ┆ seconds_in_bucket ┆ imbalance_size ┆ … ┆ ask_size ┆ wap ┆ time_id ┆ row_id  │
│ ---      ┆ ---     ┆ ---               ┆ ---            ┆   ┆ ---      ┆ --- ┆ ---     ┆ ---     │
│ i64      ┆ i64     ┆ i64               ┆ f64            ┆   ┆ f64      ┆ f64 ┆ i64     ┆ str     │
╞══════════╪═════════╪═══════════════════╪════════════════╪═══╪══════════╪═════╪═════════╪═════════╡
│ 0        ┆ 481     ┆ 0                 ┆ 5.4980e6       ┆ … ┆ 28315.0  ┆ 1.0 ┆ 26455   ┆ 481_0_0 │
│ 1        ┆ 481     ┆ 0                 ┆ 0.0            ┆ … ┆ 17651.95 ┆ 1.0 ┆ 26455   ┆ 481_0_1 │
│ 2        ┆ 481     ┆ 0                 ┆ 5439944.9      ┆ … ┆ 116259.6 ┆ 1.0 ┆ 26455   ┆ 481_0_2 │
└──────────┴─────────┴───────────────────┴────────────────┴───┴──────────┴─────┴─────────┴─────────┘

In [11]:
desc_test = pd.DataFrame(index=list(test_df_pandas))
desc_test['count'] = test_df_pandas.count()
desc_test['nunique']= test_df_pandas.nunique()
desc_test['%_unique'] = desc['nunique']/len(test_df_pandas)*100
desc_test['null'] = test_df_pandas.isnull().sum()
desc_test['type']= test_df_pandas.dtypes
desc_test = pd.concat([desc_test, test_df_pandas.describe().T],axis=1)

In [12]:
desc_test.head()

,count,nunique,%_unique,null,type,count,mean,std,min,25%,50%,75%,max
stock_id,3,3,6.666667e+03,0,int64,3.0,1.000000e+00,1.000000e+00,0.0,0.50,1.0,1.50,2.00
date_id,3,1,1.603333e+04,0,int64,3.0,4.810000e+02,0.000000e+00,481.0,481.00,481.0,481.00,481.00
seconds_in_bucket,3,1,1.833333e+03,0,int64,3.0,0.000000e+00,0.000000e+00,0.0,0.00,0.0,0.00,0.00
imbalance_size,3,3,9.906210e+07,0,float64,3.0,3.645970e+06,3.157636e+06,0.0,2719972.45,5439944.9,5468955.54,5497966.18
imbalance_buy_sell_flag,3,2,1.000000e+02,0,int64,3.0,-6.666667e-01,5.773503e-01,-1.0,-1.00,-1.0,-0.50,0.00

In [13]:
train_df_pandas.head()

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id,row_id
0,0,0,0,3180602.69,1,0.999812,13380276.64,NaN,NaN,0.999812,60651.50,1.000026,8493.03,1.0,-3.029704,0,0_0_0
1,1,0,0,166603.91,-1,0.999896,1642214.25,NaN,NaN,0.999896,3233.04,1.000660,20605.09,1.0,-5.519986,0,0_0_1
2,2,0,0,302879.87,-1,0.999561,1819368.03,NaN,NaN,0.999403,37956.00,1.000298,18995.00,1.0,-8.389950,0,0_0_2
3,3,0,0,11917682.27,-1,1.000171,18389745.62,NaN,NaN,0.999999,2324.90,1.000214,479032.40,1.0,-4.010200,0,0_0_3
4,4,0,0,447549.96,-1,0.999532,17860614.95,NaN,NaN,0.999394,16485.54,1.000016,434.10,1.0,-7.349849,0,0_0_4

In [14]:
train_df_pandas[train_df_pandas['stock_id']==1]

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id,row_id
1,1,0,0,166603.91,-1,0.999896,1642214.25,NaN,NaN,0.999896,3233.04,1.000660,20605.09,1.000000,-5.519986,0,0_0_1
192,1,0,10,165923.20,-1,0.999955,1642894.96,NaN,NaN,0.999896,3743.52,1.000660,33717.42,0.999973,-1.620054,1,0_10_1
383,1,0,20,165923.20,-1,0.999955,1642894.96,NaN,NaN,0.999896,3743.52,1.000660,33717.42,0.999973,-6.459951,2,0_20_1
574,1,0,30,165923.20,-1,0.999896,1642894.96,NaN,NaN,0.999896,4254.00,1.000308,3574.83,1.000120,-5.149841,3,0_30_1
765,1,0,40,162349.47,-1,0.999955,1646468.69,NaN,NaN,0.999896,21270.00,1.000308,3574.83,1.000248,-6.750226,4,0_40_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5236981,1,480,500,88468.41,-1,0.996648,7635810.59,0.996121,0.996437,0.996437,176306.44,0.996859,64345.00,0.996746,2.850294,26450,480_500_1
5237181,1,480,510,310778.50,-1,0.996806,7413500.50,0.996121,0.996543,0.996543,1324.33,0.997122,47135.70,0.996559,3.169775,26451,480_510_1
5237381,1,480,520,310778.50,-1,0.996806,7413500.50,0.996121,0.996490,0.996543,3783.80,0.997122,85374.30,0.996567,5.689859,26452,480_520_1
5237581,1,480,530,310778.50,-1,0.996806,7413500.50,0.996121,0.996490,0.996543,7567.60,0.997122,112065.60,0.996579,10.650158,26453,480_530_1
5237781,1,480,540,43854.51,-1,0.996543,7680424.49,0.996121,0.996490,0.996543,5675.70,0.997122,167909.10,0.996562,15.859604,26454,480_540_1

In [15]:
train_df_pandas['stock_id'].nunique()

200

In [16]:
train_df.approx_n_unique()

shape: (1, 17)
┌──────────┬─────────┬───────────────────┬────────────────┬───┬───────┬────────┬─────────┬─────────┐
│ stock_id ┆ date_id ┆ seconds_in_bucket ┆ imbalance_size ┆ … ┆ wap   ┆ target ┆ time_id ┆ row_id  │
│ ---      ┆ ---     ┆ ---               ┆ ---            ┆   ┆ ---   ┆ ---    ┆ ---     ┆ ---     │
│ u32      ┆ u32     ┆ u32               ┆ u32            ┆   ┆ u32   ┆ u32    ┆ u32     ┆ u32     │
╞══════════╪═════════╪═══════════════════╪════════════════╪═══╪═══════╪════════╪═════════╪═════════╡
│ 198      ┆ 482     ┆ 55                ┆ 3004545        ┆ … ┆ 31403 ┆ 15749  ┆ 26653   ┆ 5300724 │
└──────────┴─────────┴───────────────────┴────────────────┴───┴───────┴────────┴─────────┴─────────┘

In [17]:
train_df_pandas.columns

Index(['stock_id', 'date_id', 'seconds_in_bucket', 'imbalance_size',
       'imbalance_buy_sell_flag', 'reference_price', 'matched_size',
       'far_price', 'near_price', 'bid_price', 'bid_size', 'ask_price',
       'ask_size', 'wap', 'target', 'time_id', 'row_id'],
      dtype='object')

In [ ]:
from keras.models import Sequential
from keras.layers import GRU, Dense

model = Sequential()
model.add(GRU(50, return_sequences=True, input_shape=(input_shape)))
model.add(GRU(50))
model.add(Dense(1))
model.compile(optimizer='adam', loss='mean_squared_error')